$defaultColor: white;
$activeColor: black;
.menu {
  position: fixed;
  top: 3%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  transform-origin: center;
  z-index: 999;

  .nav {
    position: relative;
    margin-right: 27px;
    width: auto;

    &:after {
      content: "";
      position: absolute;
      bottom: -5px;
      width: 0;
      height: 2px;
      background-color: $defaultColor;
      transition: width 0.3s;
    }
    &.active,
    &:hover {
      &:after {
        content: "";
        width: 100%;
      }
    }
    &:last-child {
      margin: 0;
    }
  }
}
